@model PlattSampleApp.Models.SearchResultsViewModel<PlattSampleApp.Models.VehicleModel>

<h3 class="page-header">Character Search Results</h3>

@if (Model.SearchResults.Count() == 0)
{
    <div class="text">
        <h4>No vehicles found for @Model.OriginalSearchTerm</h4>
    </div>
}

else
{
    <h4>@Model.SearchResults.Count() Found</h4>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Model</th>
            <th>Class</th>
            <th>Manufacturer</th>
            <th>Cost</th>
            <th>Length</th>
            <th>CrewSize</th>
            <th>Passenger Capacity</th>
            <th>Max Atmosphere Speed</th>
            <th>Cargo Capacity</th>
            <th>Consumables Time Span</th>
        </tr>

        @foreach (var item in Model.SearchResults)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Model</td>
                <td>@item.Class</td>
                <td>@item.Manufacturer</td>
                <td>@item.Cost</td>
                <td>@item.Length</td>
                <td>@item.CrewSize</td>
                <td>@item.PassengerCapacity</td>
                <td>@item.MaxAtmosphereSpeed</td>
                <td>@item.CargoCapacity</td>
                <td>@item.ConsumablesTimeLimit</td>

            </tr>
        }
    </table>
}

<div class="btn btn-default">
    @Html.ActionLink("Return to Search", "Search", "Search")
</div>
